:root {
    --wip: #ADFF5F;
    --done: #11FEB0;
    --ranked: #6DCFF6;
    --blocked: grey;
    --open: #FF5864;
    --rest: #7AFFA8;
}

body {
    background-color: #151515;
    background-image: url("./assets/the_A.png");
    font-family: 'Exo 2', sans-serif;
}

a {
    color: var(--rest);
}

.border-status-wip {
    border-top: 7px solid var(--wip);
}

.border-status-done {
    border-top: 7px solid var(--done);
}

.border-status-ranked {
    border-top: 7px solid var(--ranked);
}

.border-status-open {
    border-top: 7px solid var(--open);
}

.border-status-button-complete {
    border-color: var(--done);
}

.border-status-button-wip {
    border-color: var(--wip);
}

.diffs {
    font-size: 2rem;
}

.btn-mg-used {
    background-color: var(--open);
    border-color: var(--open);
    filter: drop-shadow(1px 1px 1px #000000);
}

.btn-mg {
    background-color: var(--rest);
    border-color: var(--rest);
    filter: drop-shadow(1px 1px 1px #000000);
}

.wip {
    color: var(--wip);
}

.done {
    color: var(--done);
}

.ranked {
    color: var(--ranked);
}

.blocked {
    color: var(--blocked);
}

.open {
    color: var(--open);
}

.bg-wip {
    background-color: var(--wip);
}

.bg-done {
    background-color: var(--done);
}

.bg-ranked {
    background-color: var(--ranked);
}

.bg-blocked {
    background-color: var(--blocked);
}

.bg-open {
    background-color: var(--open);
}

.bg-rest {
    background-color: var(--rest);
}

.tooltip > .tooltip-inner {
    background-color: var(--rest);
    color: #333;
}