.treeview, .treeview ul {
    padding:0;
    list-style:none;
}
.treeview ul {
    margin-left:1em;
    position:relative
}
.treeview ul ul {
    margin-left:.5em
}
.treeview ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    left:0;
    border-left:1px solid;
    bottom:15px;
}
.treeview li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    font-weight:700;
    position:relative
}
.treeview ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.treeview li:hover {    
    cursor:pointer;
}
.bg-grey {
    background: #333;
}
.alert-fixed{
    position: fixed;
    bottom: 0px;
    left: 50%;
    z-index: 999;
}